#dogeCoinWindow {
	-fx-background-color: white;
}

Label{
	-fx-font: normal bold 16px 'arial';
	-fx-text-fill: #2196F3;
}

#diggingDoge{
 -fx-image: url("../images/diggingdoge.gif");
}

#dogeDonate {
 -fx-image: url("../images/dogedonate.gif");
}

#backIcon {
	-fx-image: url("../images/backIcon.png");
	-fx-translate-x: -180;
}