#helpWindow {
	-fx-pref-width: 300;
	-fx-background-color: white;
}

#header {
	-fx-font: normal bold 20px 'arial';
	-fx-text-fill: #2196F3;
	-fx-padding: 10 0 5 10;
}

#text {
	-fx-padding: 0 10 10 10;
}

#backIcon {
	-fx-image: url("../images/backIcon.png");
}
