

Label{
	-fx-font: normal bold 16px 'arial';
	-fx-text-fill: #2196F3;
}

#rectangle {
	-fx-image: url("../images/rectangle.png");
}

#coolDoge {
	-fx-image: url("../images/CoolDoge.jpg");

	}

#sadDoge {
	-fx-image: url("../images/SadDoge.jpg");
}

#spinningDoge {
  -fx-image: url("../images/dogespin.gif");
}

#backIcon {
	-fx-image: url("../images/backIcon.png");
}