Button {
	-fx-color: #FFCB7A;
	-fx-shape: "M 350 300 L 500 300 L 500 200 L 350 200 L 350 300";
	-fx-background-radius: 5em;
	-fx-font: normal bold 20px 'serif';
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

Button:hover {
	-fx-color: #2196F3;
}

Button:focused {
	-fx-background-insets: 0, 0, 1, 2;
}

Button:pressed {
	-fx-color: #FFCB7A;
}

.spinningDoge {
  -fx-image: url("../images/dogespin.gif");
}

#dogecoinButton {
	-fx-color: transparent;
  -fx-background-image: url("../images/dogecoin.png");
	-fx-background-size: cover;
	-fx-font-size: 13px;
	-fx-pref-width: 25px;
}

#helpButton {
	-fx-color: transparent;
	-fx-background-image: url('../images/help.png');
	-fx-background-size: cover;
	-fx-font-size: 13px;
	-fx-pref-width: 25px;
}

