#playerSelectionWindow {
	-fx-spacing: 20;
	-fx-alignment: center;
	-fx-pref-height: 100px;
	-fx-pref-width: 300px;
}

#header {
	-fx-font: normal bold 30px 'serif';
}

.spinnerBox {
  -fx-alignment: center;
}

.sublabel {
	-fx-font: normal bold 15px 'serif';
}

Button {
	-fx-color: #FFCB7A;
	-fx-shape: "M 350 300 L 500 300 L 500 200 L 350 200 L 350 300";
	-fx-background-radius: 5em;
	-fx-font: normal bold 20px 'serif';
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

Button:hover {
	-fx-color: #2196F3;
}

Button:focused {
	-fx-background-insets: 0, 0, 1, 2;
	-fx-border-color: transparent;
}

Button:pressed {
	-fx-color: #FFCB7A;
}
