#winnerWindow {
	-fx-spacing: 5;
	-fx-alignment: center;
	-fx-pref-height: 100px;
	-fx-pref-width: 300px;
	-fx-padding: 5px;
	-fx-background-color: white;
}

.playAgainButton {
	-fx-alignment: center;
	-fx-color: #FFCB7A;
	-fx-shape: "M 350 300 L 500 300 L 500 200 L 350 200 L 350 300";
	-fx-background-radius: 5em;
	-fx-font: normal bold 20px 'serif';
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.subButton {
	-fx-alignment: center;
	-fx-color: #FFCB7A;
	-fx-shape: "M 350 300 L 500 300 L 500 200 L 350 200 L 350 300";
	-fx-background-radius: 5em;
	-fx-font: normal bold 18px 'serif';
	-fx-spacing: 80;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

ScrollPane {
	-fx-min-height: 50px;
	-fx-max-height: 50px;
	-fx-min-width: 150px;
	-fx-max-width: 150px;
	-fx-padding: 10px;
	-fx-background-color: white;

}

Button:hover {
	-fx-color: #2196F3;
}

Button:focused {
	-fx-background-insets: 0, 0, 1, 2;
	-fx-border-color: transparent;
}

Button:pressed {
	-fx-color: #FFCB7A;
}

.center {
 -fx-alignment: center;
 -fx-padding: 5;
 -fx-spacing: 20;

}

#header {
-fx-font: normal bold 36px 'Arial';
	-fx-text-fill: #2196F3;
	-fx-alignment: center;
}

.subLabel {
	-fx-font: normal bold 20px 'Arial';
	-fx-text-fill: #2196F3;
	-fx-alignment: center;
}

#firework {
	-fx-image: url("../images/firework.gif");
}

#fullDoge {
	-fx-image: url("../images/fullDoge.png");
}

#dabDogeRight {
	-fx-image: url("../images/dabDogeRight.png");
}
#dabDogeLeft {
	-fx-image: url("../images/dabDogeLeft.png");
}

#littleDoge {
	-fx-image: url("../images/littleDoge.png");
}

#spinningDoge {
  -fx-image: url("../images/dogespin.gif");
}


